*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-image: url(./imagenes/FONDO.png);
}

.form-register{
    width: 450px;
    background-color: #3366FF;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 25px;
    font-family:'Inter', sans-serif; ;
    font-size: 14px;
    color: #fff;
}

.imagen{
    width: 160px;
}

div{
    display: flex;
    justify-content: center;
}

h1{
    font-size: 22px;
    margin: 16px;
    text-align: center;
}

.controls{
    width: 100%;
    background-color: #5f85f9;
    border:#daae00;
    border-radius: 4px;
    padding: 15px;
    margin-bottom:18px ;
    font-family: sans-serif;
    font-size: 14px; 
    color: #fff; 
}

#boton{
    display: flex;
    justify-content: center;
    padding: 12px 25px 12px 25px;
    border: none;
    text-decoration: none;
    border-radius: 25px;
    background-color: #e6bc13;
    color: #1e1e1e;
    cursor: pointer;
    font-size: 16px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.5);
    margin: 18px 0 ;
}

#boton:hover{
    background-color:#fcd848;

}


:focus{
    outline: 2px solid #FFCC00;
}

a{
    text-decoration: none;
    color: #fff;
}

p{
    text-align: center;
}

.form-register a:hover{
    color: #e6bc13;
    text-decoration: underline;
}

::placeholder{
    color: #fff;
}

.warnings{
    font-size: 14px;
    text-align: center;
    margin-top: 12px;
    color: rgb(255, 213, 98);
    font-weight: 3;
}